.content{
    padding: 10px 0;
}

.content__contact{
    padding: 20px 0;
    text-align: center;
}
.content__contact h4{
    font-size: 3rem;
    font-weight: bold;
}
.content__contact p{
    font-size: 1.7rem;
}

/* content dgtm */
.content__gdtm{
    text-align: center;
}
.content__gdtm h4{
    font-size: 3rem;
    font-weight: bold;
}

.content__gdtm form input{
    width: 45%;
    padding: 7px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.content__gdtm form .ht_email input:nth-child(1),
.content__gdtm form .sdt_dc input:nth-child(1)
{
    margin-right: 4%;
}

.ln textarea{
    width: 95%;
    padding: 7px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.content__gdtm form div{
    margin-bottom: 20px;
}

.btn_gn button{
    border: none;
    width: 95%;
    border-radius: 5px;
    background-color: #de3545;
    color: #fff;
    padding: 7px 0;
}
.btn_gn button:hover{
    background-color: #e62236;
}